@model Expense

<div class="text-center">
    <h1 class="display-4 mb-4">Create Expense</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <form action="CreateExpense" method="post">
                <div class="form-group row">
                    <div class="col-6">
                        <label asp-for="ExpenseName"></label>
                    </div>
                    <div class="col-6">
                        <label asp-for="Amount"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <input asp-for="ExpenseName" class="form-control" />
                    </div>
                    <div class="col-6">
                        <input asp-for="Amount" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-2 offset-10">
                        <input type="submit" class="btn btn-success w-100" value="Create" />
                    </div>
                   
                </div>
            </form>
        </div>
    </div>
</div>
